.title-section-top {
    color: #ffffff !important;
}

.box-shadow{
    /*border: 1px solid #888;*/
    float: left;
    padding: 10px;

    box-shadow: 10px 10px 5px rgba(0,0,0,0.4),
                -2px -2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.4),
                    -2px -2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.4),
                        -2px -2px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 10px 10px 5px rgba(0,0,0,0.4),
                    -2px -2px 2px rgba(0,0,0,0.2);
}
.box-shadow div{
    padding-top: 5px;
    padding-bottom: 5px;
}
.border-bottom{
    border-bottom: 1px solid black;
}
/*.box-shadow-bottom{*/
    /*box-shadow: 0 5px 5px -5px #ccc;*/
    /*-moz-box-shadow: 0 5px 5px -5px #ccc;*/
    /*-webkit-box-shadow: 0 5px 5px -5px #ccc;*/
/*}*/
/*.box-shadow-right{*/
    /*box-shadow: 5px 0 5px -5px #ccc;*/
    /*-moz-box-shadow: 5px 0 5px -5px #ccc;*/
    /*-webkit-box-shadow: 5px 0 5px -5px #ccc;*/
/*}*/

.sidebar-right-div {
    padding: 15px;
    margin-bottom: 15px;
}

.mg-0{
    margin: 0;
}