/* Custom Font */
@font-face {
    font-family: 'aucoinextbolregular';
    src: url('../fonts/aucoinextbol-webfont.woff2') format('woff2'),
    url('../fonts/aucoinextbol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logo-caption h3{
    font-family: aucoinextbolregular;
    color: #6E452C;
    margin: 0 !important;
}

.logo-caption{
    padding-top: 12px;
    margin-left: 5px;
    float: left;
}

.invoice-link{
    color: #42b549;
}

.arrow-show{
    float: right;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.price-product-detail{
    font-size: 18px;
}

.sale_caption1{
    width: 100%;
}

.cart-image{
    background: no-repeat center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.cart-image-header{
    float: left;
    margin-right: 20px;
    background: no-repeat center;
    background-size: cover;
    height: 60px;
    width: 60px;
}

.product-list .tovar_title{
    width: 100%;
}

.product-list-image{
    background: no-repeat center;
    background-size: contain;
    height: inherit;
    width: 200px;
}

.tovar_item_btns .add_bag .fa{
    line-height: 46px !important;
}

.breadcrumb.women, .breadcrumb.men{
    padding: 0 !important;
    background-image: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f2e8+3,aef8ad+100 */
    background: #e8f2e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #e8f2e8 3%, #aef8ad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e8f2e8 3%,#aef8ad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e8f2e8 3%,#aef8ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f2e8', endColorstr='#aef8ad',GradientType=0 ); /* IE6-9 */
}

.custom-link{
    text-decoration: underline;
    color: blue;
}

footer{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f2e8+3,aef8ad+100 */
    background: #e8f2e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #e8f2e8 3%, #aef8ad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e8f2e8 3%,#aef8ad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e8f2e8 3%,#aef8ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f2e8', endColorstr='#aef8ad',GradientType=0 ); /* IE6-9 */
}

.foot_address{
    color: #000000;
}

.copyright{
    background-color: inherit;
}

.copyright_inf span{
    color: #000000;
}

.copyright .back_top{
    color: #000000;
}

.foot_logo_img{
    height: 90px;
    max-width: 100%;
}

.foot_phone span{
    color: #000000;
    font-weight: 900;
    font-size: 12px;
}

.foot_mail a{
    color: #000000 !important;
}

.foot_address{
    border-bottom: none;
}

footer h4{
    color: #000000;
}

.top_search_form .fa{
    line-height: 20px !important;
}

header {
    background-color: #e8f2e8;
}

.menu_block{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aef8ad+3,e8f2e8+100 */
    background: #aef8ad; /* Old browsers */
    background: -moz-linear-gradient(top,  #aef8ad 3%, #e8f2e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #aef8ad 3%,#e8f2e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #aef8ad 3%,#e8f2e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aef8ad', endColorstr='#e8f2e8',GradientType=0 ); /* IE6-9 */
}

#menu-profile{
    border-left: 0;
    border-right: 1px solid #e9e9e9;
}

header{
    position: static;
}

.margtop60{
    margin-top: 60px;
}

.breadcrumb{
    min-height: 0;
}

.menu_block *{
    z-index: 9999;
}

/* Product Detail Carousel */
#carousel1 .slides li,
#carousel2 .slides li{
    height: auto !important;
}

#carousel1 .slides li img,
#carousel2 .slides li img{
    margin-bottom: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #81B951;
    border-color: #81B951;
}

/* HOME PAGE */
/*.flexslider.top_slider .slides li{*/
    /*height: 150px;*/
/*}*/

.logo{
    padding-top: 10px;
    width: 150px;
}

.first_banner.top_slider .slides li{
    height: 150px;
}

.second_banner.top_slider .slides li{
    height: 475px;
}

.flex-control-nav{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tovar_section{
    padding-top: 10px;
}

.category_wrapper{
    border: 1px solid #e0e0e0;
    height:250px;
    border-radius: 4px;
}

.category_product_wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    height: 250px;
}

.category_img{
    background: no-repeat center;
    background-size: cover;
    height: 250px;
    width: auto;
    position: relative;
}

.category_img_title{
    position: absolute;
    width: 100%;
    bottom: 15%;
    text-align: center;
}

.category_img_title span{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
}

.category_item_img{
    background: no-repeat center;
    background-size: cover;
    position: relative;
    height: 200px;
    top:  50%;
    transform: translateY(-50%);
}

.category_item_title{
    font-size: 16px;
    font-weight: bold;
}

.category_product_wrapper .tovar_item{
    position: relative;
    height: 200px;
    top:  50%;
    transform: translateY(-50%);
}

.tovar_item:hover .tovar_item_btns{
    bottom: 5px;
}

.tovar_img{
    border-radius: 4px;
}

.tovar_description{
    height: 100px;
}

.sale_caption1{
    left: auto;
}

.category_home_menu{
    float: left;
    width: 50%;
}

.category_first_column a{
    border-right: none !important;
}

.category_second_column a{
    border-left: none !important;
}

.tovar_img_wrapper img{
    position: relative !important;
}

.tovar_item .tovar_img_wrapper .img_h, .tovar_item:hover .tovar_img_wrapper .img{
    opacity: 0.5 !important;
}

.top_banner{
    background: no-repeat center;
    background-size: cover;
    height: 150px;
    border-radius: 2px;
}

.top_sale_banners a.banner{
    border-radius: 3px;
}

.slider_background_image{
    background: no-repeat center;
    background-size: cover;
    height: 100%;
    border-radius: 3px;
}

.price-number{
    font-size: 16px;
    color: #000;
}

.category_home_menu .odd{
    background-color: #ECEBEB;
}

.category_home_menu .list-group-item{
    border: 1px solid #ccc;
}

.category_home_menu .list-group-item:last-child{
    border-radius: 0;
}

.category_first_column .list-group-item{
    padding-right: 0 !important;
}

.category_home_menu .list-group-item:first-child{
    border-radius: 0;
}

.category_home_menu a.list-group-item, button.list-group-item{
    color: #000;
}

.inner_category_list{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.category_first_column .inner_category_list{
    border-right: 2px solid #ccc !important;
}

.ws_play{
    display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 479px){
    .desktop{
        display: none;
    }

    .logo{
        padding-top: 0;
        width: 150px;
    }

    .first_banner.top_slider .slides li{
        height: 50px;
    }

    .second_banner.top_slider .slides li{
        height: 150px;
    }

    .sale_caption1{
        top: 50% !important;
    }

    .my_account_block .login{
        float: left !important;
    }

    .logo-caption{
        display: none;
    }
}

/*.shopping_bag.cart_active .shopping_bag_btn{*/
    /*background: #E5E4D7 !important;*/
/*}*/

/*.cart{*/
    /*background-color: #8ac657 !important;*/
/*}*/